<div class="row">
  <div class="input-field col s6">
    <input id="id" name="student[id]" type="text" class="validate" value="<%= student.id %>">
    <label for="id" class="active">Student Id</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <input id="first_name" name="student[first_name]" type="text" class="validate" value="<%= student.first_name %>">
    <label for="first_name" class="active">First Name</label>
  </div>
  <div class="input-field col s6">
    <input id="last_name" name="student[last_name]" type="text" class="validate" value="<%= student.last_name %>">
    <label for="last_name" class="active">Last Name</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <input id="email" name="student[email]" type="email" class="validate" required value="<%= student.email %>">
    <label for="email" class="active">E-mail</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <input type="text" name="curriculum" id="curriculum" class="autocomplete">
    <label for="curriculum" class="active">Curriculum</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <input id="ssn" name="student[ssn]" type="text" class="validate" value="<%= student.ssn %>">
    <label for="ssn" class="active">SSN</label>
  </div>
  <div class="input-field col s6">
    <input id="date" name="date" type="text" class="validate" hidden />
    <input id="date_picker" name="date_picker" type="date" class="datepicker">
    <label for="date_picker" class="active">Birth date</label>
  </div>
</div>


<div class="row">
  <div class="input-field col s12">
    <input name="student[gender]" type="radio" id="male" value="Male"/>
    <label for="male">Male</label>
    <input name="student[gender]" type="radio" id="female" value="Female"/>
    <label for="female">Female</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <div class="file-field input-field">
      <div class="btn">
        <span>Picture</span>
        <input type="file" name="student[picture]">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
      $('input.autocomplete').autocomplete({
        data: {
          <% curriculums.each do |cur| %>
            "<%= cur.department.name %> | <%= cur.name %>":null,
          <% end %>
        },
        limit: 10,
        onAutocomplete: function(val){
        },
        minLength: 1,
      });

      $("#date_picker").pickadate({
  			selectMonths: true,
  			selectYears: 25,
  			format: 'yyyy-mm-dd',
  			onSet: function() {
  				$('#date')[0].value = $('#date_picker')[0].value
  	    }
  		});
  });
</script>
