<%= form_for(:student, url: "/student_pdf") do |f| %>
         <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action" style="float:right;">
              Print
            </button>
          </div>


<% end %>

<div class="container">
<div class="row">
	 <div class="col s6">
	 <div class="container">
	 	<img class="materialboxed" src="https://cdn.psychologytoday.com/sites/default/files/field_blog_entry_images/Donald_Trump_%2814235998650%29_%28cropped%29.jpg" height="60%" width="60%">
	 </div>
	 </div>
	 <div class="col s6">
	 	<div class="container">
	 	<table class="bordered highlight">

	        <tbody>
	          <tr>
	            <th>First Name</th>
	            <td><%= @student.first_name %></td>
	          </tr>

	          <tr>
	          	<th>Last Name</th>
	            <td><%= @student.last_name %></td>
	          </tr>

	          <tr>
	          	<th>SSN</th>
	            <td><%= @student.ssn %></td>
	          </tr>

	          <tr>
	          	<th>Birthdate</th>
	            <td><%= @student.birth_date %></td>
	          </tr>

	          <tr>
	          	<th>Gender</th>
	            <td><%= @student.gender %></td>
	          </tr>

	          <tr>
	          	<th>Year of enrollment</th>
	            <td><%= @student.enroll_year %></td>
	          </tr>

	          <tr>
	          	<th>Status</th>
	            <td><%= @student.status %></td>
	          </tr>

	          <tr>
	          	<th>Email</th>
	            <td><%= @student.email %></td>
	          </tr>

	          <tr>
	          	<th>Curriculum</th>
	            <td><%= Curriculum.find(@student.curriculum_id).name %></td>
	          </tr>

	        </tbody>
	    </table>
	    </div>

	 </div>
</div>
</div>

<div class="container">
<ul class="collapsible" data-collapsible="accordion">
    <li>
    	<div class="collapsible-header"><i class="material-icons">class</i>Academic Info</div>
    	<div class="collapsible-body">
	    	<span>
				<div class="row">
					 <div class="col s6">
					 	<div class="container">
						 	<table class="striped highlight">
							 	<thead>
							 		<th>Year</th>
							 		<th>Semester</th>
							 		<th>GPA</th>
							 		<th>credit</th>
							 	</thead>
						        <tbody>
							        <% @gpa.each do |gpa| %>
							        	<tr>
							            	<td><%= gpa.year  %></td>
							            	<td><%= gpa.semester %> <%= "(Summer)" if gpa.semester == 3 %></td>
							            	<td><%= sprintf("%.2f",gpa.gpa) %></td>
							            	<td><%= gpa.credit %></td>
							          	</tr>
							        <% end %>
						        </tbody>
						        <tfoot>
							 		<th>Total</th>
							 		<th></th>
							 		<th><%= sprintf("%.2f",@gpax[0][:gpax]) %></th>
							 		<th><%= @gpa.sum(:credit) %></th>
							 	</tfoot>
						    </table>
					    </div>
					 </div>
					 <div class="row">
						 <div class="col s6">
							 	<canvas id="chartGrade" width="800" height="800"></canvas>
						 </div>

						 <div class="col s6">
							 	<canvas id="chartGpax" width="800" height="800"></canvas>
						 </div>
					 </div>
				</div>
	    	</span>
    	</div>
    </li>
    <li>
    	<div class="collapsible-header"><i class="material-icons">work</i>Leave Info</div>
    	<div class="collapsible-body">
    		<span>
    			
				<div class="row">
					 <div class="col s12">
					 	<div class="container">
					 		<h5> Sick Leave </h5>
						 	<table class="striped highlight">
							 	<thead>
							 		<th>From</th>
							 		<th>To</th>
							 		<th>Reason</th>
							 	</thead>
						        <tbody>
							        <% @sick_leave_arr.each do |leave| %>
							        	<tr>
							            	<td><%= leave[0].start_date  %></td>
							            	<td><%= leave[0].end_date %></td>
							            	<td><%= leave[1].reason %></td>
							          	</tr>
							        <% end %>
						        </tbody>
						    </table>
					    </div>
					 </div>
					 <div class="col s12">
					 	<div class="container">
					 		<h5> Personal Leave </h5>
						 	<table class="striped highlight">
							 	<thead>
							 		<th>From</th>
							 		<th>To</th>
							 		<th>Reason</th>
							 	</thead>
						        <tbody>
							        <% @personal_leave_arr.each do |leave| %>
							        	<tr>
							            	<td><%= leave[0].start_date  %></td>
							            	<td><%= leave[0].end_date %></td>
							            	<td><%= leave[1].project_name %></td>
							          	</tr>
							        <% end %>
						        </tbody>
						    </table>
					    </div>
					 </div>
				</div>
    		</span>
    	</div>
    </li>
    <li>
		<div class="collapsible-header"><i class="material-icons">star</i>Portfolio</div>
		<div class="collapsible-body">
			<span>
				<div class="row">
					 <div class="col s12">
					 	<div class="container">
					 		<h5> Activities </h5>
						 	<table class="striped highlight">
							 	<thead>
							 		<th>Date</th>
							 		<th>Duration (Day)</th>
							 		<th>Explanation</th>
							 		<th>Name</th>
							 		<th>position</th>
							 	</thead>
						        <tbody>
							        <% @activity_portfolio_arr.each do |portfolio| %>
							        	<tr>
							            	<td><%= portfolio[0].date  %></td>
							            	<td><%= portfolio[1].duration %></td>
							            	<td><%= portfolio[0].explanation %></td>
							            	<td><%= portfolio[0].name  %></td>
							            	<td><%= portfolio[1].position %></td>
							          	</tr>
							        <% end %>
						        </tbody>
						    </table>
					    </div>
					 </div>
					 <div class="col s12">
					 	<div class="container">
					 		<h5> Competition </h5>
						 	<table class="striped highlight">
							 	<thead>
							 		<th>Date</th>
							 		<th>Explanation</th>
							 		<th>Name</th>
							 		<th>Award</th>
							 	</thead>
						        <tbody>
							        <% @competition_portfolio_arr.each do |portfolio| %>
							        	<tr>
							            	<td><%= portfolio[0].date  %></td>
							            	<td><%= portfolio[0].explanation %></td>
							            	<td><%= portfolio[0].name  %></td>
							            	<td><%= portfolio[1].award %></td>
							          	</tr>
							        <% end %>
						        </tbody>
						    </table>
					    </div>
					 </div>
				</div>
    		</span>

		</div>
    </li>
    <li>
		<div class="collapsible-header"><i class="material-icons">whatshot</i>Rule-breaking Records</div>
		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>
</div>

<script>
	$(document).ready(function(){
    	$('.collapsible').collapsible();
	});
	$(function() {
		var ctx = $("#chartGrade");
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: [
		        	<% @gpa.reverse_each do |gpa| %>
		        		<%= "," if gpa != @gpa.last %>
		        		<%= raw "\""+gpa.year.to_s+"-"+gpa.semester.to_s+"\"" %>
		        	<% end %>
		        	],
		        datasets: [{
		            label: 'GPA',
		            data: [
		            	<% @gpa.reverse_each do |gpa| %>
		            		<%= "," if gpa != @gpa.last %>
										<%= sprintf("%.2f",gpa.gpa) %>
									<% end %>
		            ],
		            fill: false,
		            lineTension: 0.1,
		            backgroundColor: "rgba(75,192,192,0.4)",
		            borderColor: "rgba(75,192,192,1)",
		            borderCapStyle: 'butt',
		            borderDash: [],
		            borderDashOffset: 0.0,
		            borderJoinStyle: 'miter',
		            pointBorderColor: "rgba(75,192,192,1)",
		            pointBackgroundColor: "#fff",
		            pointBorderWidth: 1,
		            pointHoverRadius: 5,
		            pointHoverBackgroundColor: "rgba(75,192,192,1)",
		            pointHoverBorderColor: "rgba(220,220,220,1)",
		            pointHoverBorderWidth: 2,
		            pointRadius: 1,
		            pointHitRadius: 10,
		            spanGaps: false,
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
	});

	$(function() {
		var ctx = $("#chartGpax");
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: [
		        	<% @gpa.reverse_each do |gpa| %>
		        		<%= "," if gpa != @gpa.last %>
		        		<%= raw ("\"" + gpa.year.to_s + "-" + gpa.semester.to_s + "\"") %>
		        	<% end %>
		        	],
		        datasets: [{
		            label: 'GPAX',
		            data: [
		            	<% sum_credit = 0 %>
		            	<% sum_raw_score = 0 %>
		            	<% @gpa.reverse_each do |gpa| %>
		            		<%= "," if gpa != @gpa.last %>
		            					<% sum_raw_score = sum_raw_score + gpa.gpa * gpa.credit %>
		            					<% sum_credit = sum_credit + gpa.credit %>
										<%= sprintf("%.2f", 1.0 * sum_raw_score / sum_credit) %>
									<% end %>
		            ],
		            fill: false,
		            lineTension: 0.1,
		            backgroundColor: "rgba(75,192,192,0.4)",
		            borderColor: "rgba(75,192,192,1)",
		            borderCapStyle: 'butt',
		            borderDash: [],
		            borderDashOffset: 0.0,
		            borderJoinStyle: 'miter',
		            pointBorderColor: "rgba(75,192,192,1)",
		            pointBackgroundColor: "#fff",
		            pointBorderWidth: 1,
		            pointHoverRadius: 5,
		            pointHoverBackgroundColor: "rgba(75,192,192,1)",
		            pointHoverBorderColor: "rgba(220,220,220,1)",
		            pointHoverBorderWidth: 2,
		            pointRadius: 1,
		            pointHitRadius: 10,
		            spanGaps: false,
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
	});
</script>
