

<div class="row">
	<div class="col s8">
		<h5>Student Info : <%= @student.id %></h5>
	</div>
	
	<%= form_for(:student, url: "/student_pdf") do |f| %>
		<div class="col s4">
			<input type="text" name="id" value="<%= @student.id %>" hidden />
			<button class="btn waves-effect waves-light button-pdf" type="submit" name="action">
				Print
			</button>
		</div>
	<% end %>
</div>
<hr>


<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="container">
      	<img class="materialboxed" src="https://scontent.fbkk1-3.fna.fbcdn.net/v/t1.0-9/10171128_606088406138117_154356109_n.jpg?oh=0451c469ca32bdbd13309850a7bbabc7&oe=594D9D35" height="100%" width="80%" >
      </div>
    </div>
    <div class="col s6">
     	<div class="container">
    	 	<table class="bordered highlight">
          <tbody>
            <tr>
              <th>Name</th>
              <td><%= (@student.first_name || "") + " " + (@student.last_name || "") %></td>
            </tr>

            <tr>
            	<th>SSN</th>
              <td><%= @student.ssn %></td>
            </tr>

            <tr>
            	<th>Birthdate</th>
              <td><%= @student.birth_date %></td>
            </tr>

            <tr>
            	<th>Gender</th>
              <td><%= @student.gender %></td>
            </tr>

            <tr>
            	<th>Year of enrollment</th>
              <td><%= @student.enroll_year %></td>
            </tr>

            <tr>
            	<th>Status</th>
              <td><%= @student.status %></td>
            </tr>

            <tr>
            	<th>Email</th>
              <td><%= @student.email %></td>
            </tr>

            <tr>
  	          <th>Curriculum</th>
              <td><%= Curriculum.find(@student.curriculum_id).name %></td>
            </tr>

            <tr>
  	          <th rowspan = <%= "\""+@advisor_name_arr.length.to_s+"\"" %>>Advisor</th>
              <td><%= @advisor_name_arr[0].first_name if @advisor_name_arr.length > 0 %></td>
            </tr>

          </tbody>
  	    </table>
      </div>
	  </div>
  </div>
</div>
<br>
<div class="container">
  <ul class="collapsible" data-collapsible="expandable">
      <li>
      	<div class="collapsible-header"><i class="material-icons">class</i>Academic Info</div>
      	<div class="collapsible-body">
  	    	<span>
  				<div class="row">
  					 <div class="col s12">
  					 	<div class="container">
  						 	<table class="striped highlight">
  							 	<thead>
  							 		<th>Year</th>
  							 		<th>Semester</th>
  							 		<th>GPA</th>
  							 		<th>credit</th>
  							 	</thead>
  						        <tbody>
  							        <% @gpa.each do |gpa| %>
                          <% next if gpa.credit == 0 %>
  							        	<tr>
  							            	<td><%= gpa.year  %></td>
  							            	<td><%= gpa.semester %> <%= "(Summer)" if gpa.semester == 3 %></td>
  							            	<td><%= sprintf("%.2f",gpa.gpa) %></td>
  							            	<td><%= gpa.credit %></td>
  							          	</tr>
  							        <% end %>
  						        </tbody>
  						        <tfoot>
  							 		<th>Total</th>
  							 		<th></th>
  							 		<th><%= sprintf("%.2f",@gpax[0][:gpax]) %></th>
  							 		<th><%= @gpa.sum(:credit) %></th>
  							 	</tfoot>
  						    </table>
  					    </div>
  					 </div>
  					 <div class="row">
  						 <div class="col s6">
  							 	<canvas id="chartGrade" width="800" height="800"></canvas>
  						 </div>

  						 <div class="col s6">
  							 	<canvas id="chartGpax" width="800" height="800"></canvas>
  						 </div>
  					 </div>
  				</div>
  	    	</span>
      	</div>
      </li>

  	<li>
  		<div class="collapsible-header"><i class="material-icons">assignment</i>Curriculum Info</div>
  		<div class="collapsible-body">

  			<span>
  				<div class="row">
  					 <div class="col s12">
  					 	<div class="container">
  						 	<table class="striped highlight">
  						 		<h5>Required Subject</h5>
  							 	<thead>
  							 		<th>Name</th>
  							 		<th>Code</th>
  							 		<th>Credit</th>
  							 		<th>Status</th>
  							 		<th>Grade</th>
  							 	</thead>
  						        <tbody>
  							        <% @required_subject_arr.each do |subject| %>
  							        	<tr>
                              <% #puts subject[1].id %>
  							            	<td><%= subject[1].name  %></td>
  							            	<td><%= subject[1].code_id %></td>
  							            	<td><%= subject[1].credit %></td>
  							            	<td>
  							            		<%= "Finished" if !@enrolled_course.where("course_id = #{subject[1].id}").first.nil? %>
  							            		<%= "Unfinished" if @enrolled_course.where("course_id = #{subject[1].id}").first.nil? %>
  							            	</td>
  							            	<td> <%= @enrolled_course.where("course_id = #{subject[1].id}").first.grade if !@enrolled_course.where("course_id = #{subject[1].id}").first.nil?  %> </td>
  							          	</tr>
  							        <% end %>
  						        </tbody>
  						    </table>
  					    </div>
  					 </div>
  				</div>
      		</span>

  		</div>
      </li>

      <li>
      	<div class="collapsible-header"><i class="material-icons">work</i>Leave Info</div>
      	<div class="collapsible-body">
      		<span>

  				<div class="row">
  					 <div class="col s12">
  					 	<div class="container">
  					 		<h5> Sick Leave </h5>
  						 	<table class="striped highlight">
  							 	<thead>
  							 		<th>From</th>
  							 		<th>To</th>
  							 		<th>Reason</th>
  							 	</thead>
  						        <tbody>
                        <% if @sick_leave_arr.length > 0 %>
    							        <% @sick_leave_arr.each do |leave| %>
    							        	<tr>
    							            	<td><%= leave[0].start_date  %></td>
    							            	<td><%= leave[0].end_date %></td>
    							            	<td><%= leave[1].reason %></td>
    							          	</tr>
    							        <% end %>
                        <% end %>
  						        </tbody>
  						    </table>
  					    </div>
  					 </div>
  					 <div class="col s12">
  					 	<div class="container">
  					 		<h5> Personal Leave </h5>
  						 	<table class="striped highlight">
  							 	<thead>
  							 		<th>From</th>
  							 		<th>To</th>
  							 		<th>Reason</th>
  							 	</thead>
  						        <tbody>
                        <% if @personal_leave_arr.length > 0 %>
  							        <% @personal_leave_arr.each do |leave| %>
  							        	<tr>
  							            	<td><%= leave[0].start_date  %></td>
  							            	<td><%= leave[0].end_date %></td>
  							            	<td><%= leave[1].project_name %></td>
  							          	</tr>
  							        <% end %>
                        <% end %>
  						        </tbody>
  						    </table>
  					    </div>
  					 </div>
  				</div>
      		</span>
      	</div>
      </li>
      <li>
  		<div class="collapsible-header"><i class="material-icons">star</i>Portfolio</div>
  		<div class="collapsible-body">
  			<span>
  				<div class="row">
  					 <div class="col s12">
  					 	<div class="container">
  					 		<h5> Activities </h5>
  						 	<table class="striped highlight">
  							 	<thead>
  							 		<th>Date</th>
  							 		<th>Duration (Day)</th>
  							 		<th>Explanation</th>
  							 		<th>Name</th>
  							 		<th>position</th>
  							 	</thead>
  						        <tbody>
                        <% if @activity_event_arr.length > 0 %>
  							        <% @activity_event_arr.each do |event| %>
  							        	<tr>
  							            	<td><%= event.date  %></td>
  							            	<td><%= event.duration %></td>
  							            	<td><%= event.explanation %></td>
  							            	<td><%= event.name  %></td>
  							            	<td><%= event.position %></td>
  							          	</tr>
  							        <% end %>
                        <% end %>
  						        </tbody>
  						    </table>
  					    </div>
  					 </div>
  					 <div class="col s12">
  					 	<div class="container">
  					 		<h5> Competition </h5>
  						 	<table class="striped highlight">
  							 	<thead>
  							 		<th>Date</th>
  							 		<th>Explanation</th>
  							 		<th>Name</th>
  							 		<th>Award</th>
  							 	</thead>
                      <tbody>
                        <% if !@competition.nil? %>
                        <% @competition.each do |event| %>
                          <tr>
                              <td><%= event.date  %></td>
                              <td><%= event.explanation %></td>
                              <td><%= event.name  %></td>
                              <td><%= event.award %></td>
                            </tr>
                        <% end %>
                        <% end %>
                      </tbody>
  						    </table>
  					    </div>
  					 </div>
  				</div>
      		</span>

  		</div>
      </li>
      <li>
  		<div class="collapsible-header"><i class="material-icons">whatshot</i>Rule-breaking Records</div>
  		<div class="collapsible-body">

  			<span>
  				<div class="row">
  					 <div class="col s12">
  					 	<div class="container">
  						 	<table class="striped highlight">
  							 	<thead>
  							 		<th>Date</th>
  							 		<th>Remark</th>

  							 		<th>Rule Detail</th>
  							 		<th>Score Reduced</th>
  							 	</thead>
  						        <tbody>
  							        <% @breaking_arr.each do |_break| %>
  							        	<tr>
  							            	<td><%= _break[0].when  %></td>
  							            	<td><%= _break[0].remark %></td>
  							            	<td><%= _break[1].rule_detail %></td>
  							            	<td><%= _break[1].behavior_score_reduction  %></td>
  							          	</tr>
  							        <% end %>
  						        </tbody>
  						    </table>
  					    </div>
  					 </div>
  				</div>
      		</span>

  		</div>
      </li>
  </ul>
</div>

<script>
	$(document).ready(function(){
    	$('.collapsible').collapsible();
	});
	$(function() {
		var ctx = $("#chartGrade");
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: [
		        	<% @gpa.reverse_each do |gpa| %>
                <% next if gpa.credit == 0 %>
		        		<%= raw "\""+gpa.year.to_s+"-"+gpa.semester.to_s+"\"," %>
		        	<% end %>
		        	],
		        datasets: [{
		            label: 'GPA',
		            data: [
		            	<% @gpa.reverse_each do |gpa| %>
                    <% next if gpa.credit == 0 %>
										<%= sprintf("%.2f,",gpa.gpa) %>
									<% end %>
		            ],
                backgroundColor: [

                  <% stdCount = 0 %>
                  <% @gpa.each do |gpa| %>
                    <% next if gpa.credit == 0 %>
                    <%= raw "\"" + @colorList[stdCount % @colorList.length] + "\"," %>
                  <% stdCount = stdCount + 1 %>
                  <% end %>
                ],
                borderColor: [
                  <% stdCount = 0 %>
                  <% @gpa.each do |gpa| %>
                    <% next if gpa.credit == 0 %>
                    <%= raw "\"" + @colorList[stdCount % @colorList.length] + "\"," %>
                  <% stdCount = stdCount + 1 %>
                  <% end %>
                ],
                borderWidth: 1,
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
	});

	$(function() {
		var ctx = $("#chartGpax");
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: [
		        	<% @gpa.reverse_each do |gpa| %>
		        		<% next if gpa.credit == 0 %>
		        		<%= raw ("\"" + gpa.year.to_s + "-" + gpa.semester.to_s + "\",") %>
		        	<% end %>
		        	],
		        datasets: [{
		            label: 'GPAX',
		            data: [
		            	<% sum_credit = 0 %>
		            	<% sum_raw_score = 0 %>
		            	<% @gpa.reverse_each do |gpa| %>
                    <% next if gpa.credit == 0 %>
          					<% sum_raw_score = sum_raw_score + gpa.gpa * gpa.credit %>
          					<% sum_credit = sum_credit + gpa.credit %>
										<%= sprintf("%.2f,", 1.0 * sum_raw_score / sum_credit) %>
									<% end %>
		            ],
                fill: false,
                lineTension: 0.5,
                backgroundColor: "#ff9800",
                borderColor: "#ff9800",
                borderCapStyle: 'round',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'round',
                pointBorderColor: "#e65100",
                pointBackgroundColor: "#e65100",
                pointBorderWidth: 0.01,
                pointHoverRadius: 10,
                pointHoverBackgroundColor: "#e65100",
                pointHoverBorderColor: "#e65100",
                pointHoverBorderWidth: 2,
                pointRadius: 4,
                pointHitRadius: 10,
                spanGaps: false,
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
	});
</script>
