<p id="notice"><%= notice %></p>

<h1>Competes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competes.each do |compete| %>
      <tr>
        <td><%= link_to 'Show', compete %></td>
        <td><%= link_to 'Edit', edit_compete_path(compete) %></td>
        <td><%= link_to 'Destroy', compete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compete', new_compete_path %>
