<div class="row">
  <div class="input-field col s6">
    <input id="id" name="event[id]" type="text" class="validate" value="<%= event.id %>">
    <label for="id" class="active">Code</label>
  </div>
  <div class="input-field col s6">
    <input id="name" name="event[name]" type="text" class="validate" value="<%= event.name %>">
    <label for="name" class="active">Name</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <textarea id="explanation" name="event[explanation]" class="materialize-textarea" value="<%= event.explanation %>"></textarea>
    <label for="explanation" class="active">explanation</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <input id="isActivity" name="event[isActivity]" type="checkbox" class="validate" value="<%= event.isActivity %>">
    <label for="isActivity" class="active">isActivity</label>
  </div>
  <div class="input-field col s6">
    <input id="isCompetition" name="event[isCompetition]" type="checkbox" class="validate" value="<%= event.isCompetition %>">
    <label for="isCompetition" class="active">isCompetition</label>
  </div>
</div>
