
<div class="row">
	<div class="col s8">
		<h5>Event Info : <%= @event.id %></h5>
	</div>

	<%= form_for(:event, url: "/event_pdf") do |f| %>
		<div class="col s4">
			<input type="text" name="id" value="<%= @event.id %>" hidden />
		</div>
	<% end %>
</div>
<hr>



<div class="container">
	<div class="row">
		<div class="col s10 offset-s1">
			<table class="bordered highlight">

  			<tbody>
          <tr>
  					<th>Name</th>
  					<td><%= @event.name %></td>
  				</tr>

          <tr>
  					<th>Date</th>
  					<td><%= @event.date %></td>
  				</tr>

  				<tr>
  					<th>Explanation</th>
  					<td><%= @event.explanation %></td>
  				</tr>

  				<tr>
  					<th>Activity</th>
  					<td><%= @event.isActivity ? "Yes" : "No" %></td>
  				</tr>

  				<tr>
            <th>Competition</th>
  					<td><%= @event.isCompetition ? "Yes" : "No" %></td>
  				</tr>

  			</tbody>
			</table>
		</div>
	</div>
</div>
<br>

<div class="container">
  <ul class="collapsible" data-collapsible="expandable">
    <% if @event.isActivity %>
      <li>
  			<div class="collapsible-header active"><i class="material-icons">class</i>Group participate</div>
  			<div class="collapsible-body">
  				<div class="container">
            <h6>
              Add group participate
            </h6>
            <%= form_for(Participate.new) do |f| %>
              <div class="row">
                <div class="input-field col s4">
                  <input id="group_id" type="text" class="validate" name="participate[group_id]" required/>
                  <label for="group_id" class="active">Group Id</label>
                </div>
                <div class="input-field col s4">
                  <input id="position" type="text" class="validate" name="participate[position]">
                  <label for="position" class="active">Position</label>
                </div>
                <div class="input-field col s2">
                  <input id="duration" type="text" class="validate" name="participate[duration]" placeholder="day">
                  <label for="duration" class="active">Duration</label>
                </div>
                <div class="input-field col s2">
                  <button type="submit" class="waves-effect waves-green btn" style="float:right;">Add</button>
                </div>
                <input id="event_id"type="text" class="validate" name="participate[event_id]" value="<%= @event.id %>" hidden/>
              </div>
            <% end %>

  					<table class="bordered highlight striped">
  						<thead>
  							<th>Group name</th>
  							<th>Student</th>
                <th>Position</th>
                <th>Duration</th>
								<th></th>
  						</thead>
  						<tbody>
  							<% @event.participates.each do |participate| %>
  								<tr>
  									<td><%= participate.group.name %></td>
                    <td>
                      <% participate.group.students.each do |student| %>
                        <%= (student.first_name || "") + " " + (student.last_name || "")%>
                        <br>
                      <% end %>
                    </td>
                    <td><%= participate.position %></td>
                    <td><%= participate.duration %>day(s)</td>
										<td>
											<a data-confirm='You sure?' rel='nofollow' data-method='delete' href='/participates/<%= participate.id %>'><i class='material-icons'>delete</i></a>
										</td>
  								</tr>
  							<% end %>
  						</tbody>
  					</table>
  				</div>
  			</div>
  		</li>
    <% end %>

    <% if @event.isCompetition %>
      <li>
        <div class="collapsible-header active"><i class="material-icons">class</i>Group competition</div>
        <div class="collapsible-body">
          <div class="container">
            <h6>
              Add group compete
            </h6>
            <%= form_for(Compete.new) do |f| %>
              <div class="row">
                <div class="input-field col s5">
                  <input id="group_id" type="text" class="validate" name="compete[group_id]" required/>
                  <label for="group_id" class="active">Group Id</label>
                </div>
                <div class="input-field col s5">
                  <input id="award" type="text" class="validate" name="compete[award]">
                  <label for="award" class="active">Award</label>
                </div>
                <div class="input-field col s2">
                  <button type="submit" class="waves-effect waves-green btn" style="float:right;">Add</button>
                </div>
                <input id="event_id"type="text" class="validate" name="compete[event_id]" value="<%= @event.id %>" hidden/>
              </div>
            <% end %>


            <table class="bordered highlight striped">
              <thead>
                <th>Group name</th>
                <th>Student</th>
                <th>Award</th>
								<th></th>
              </thead>
              <tbody>
                <% @event.competes.each do |compete| %>
                  <tr>
                    <td><%= compete.group.name %></td>
                    <td>
                      <% compete.group.students.each do |student| %>
                        <%= (student.first_name || "") + " " + (student.last_name || "")%>
                        <br>
                      <% end %>
                    </td>
                    <td><%= compete.award %></td>
										<td>
											<a data-confirm='You sure?' rel='nofollow' data-method='delete' href='/competes/<%= compete.id %>'><i class='material-icons'>delete</i></a>
										</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    <% end %>
	</ul>
</div>
