<p id="notice"><%= notice %></p>

<h1>Log Breaks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_breaks.each do |log_break| %>
      <tr>
        <td><%= link_to 'Show', log_break %></td>
        <td><%= link_to 'Edit', edit_log_break_path(log_break) %></td>
        <td><%= link_to 'Destroy', log_break, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log Break', new_log_break_path %>
