<p id="notice"><%= notice %></p>

<h1>Belong Tos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @belong_tos.each do |belong_to| %>
      <tr>
        <td><%= link_to 'Show', belong_to %></td>
        <td><%= link_to 'Edit', edit_belong_to_path(belong_to) %></td>
        <td><%= link_to 'Destroy', belong_to, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Belong To', new_belong_to_path %>
