<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="userView">
      <div class="background">
        <img src="http://www.okclipart.com/img42/ttkwoptahhrqmhszqxhn.jpg"/>
      </div>
      <img class="circle" src="<%= image_path('person.png') %>" width="50" height="50">
      <span class="white-text name">
        <%= (@current_personnel.first_name || "") + (@current_personnel.last_name || "") %>&nbsp;
      </span>
      <span class="white-text email">
        <%= @current_personnel.email %>
      </span>
    </div>
  </li>

  <li class="bold <%= controller?('departments') %>"><a class="waves-effect waves-pink"  href="<%= departments_path %>">Department</a></li>
  <li class="bold <%= controller?('viewindiv') %>"><a class="waves-effect waves-pink"  href="<%= searchindiv_path %>">Student</a></li>
  <li class="bold <%= controller?('personnels') %>"><a class="waves-effect waves-pink"  href="<%= personnels_path %>">Personnel</a></li>
  <li class="bold <%= controller?('courses') %>"><a class="waves-effect waves-pink"  href="<%= courses_path %>">Course</a></li>
  <li class="bold <%= controller?('groups') %>"><a class="waves-effect waves-pink"  href="<%= groups_path %>">Group</a></li>
  <li class="bold <%= controller?('rules') %>"><a class="waves-effect waves-pink"  href="<%= rules_path %>">Rule</a></li>
    <li class="bold <%= controller?('time_slots') %>"><a class="waves-effect waves-pink"  href="<%= time_slots_path %>">Time slot</a></li>

<!--
  <li class="bold<%= controller?('viewgroup') %>"><a class="waves-effect waves-pink" href="#!">Summary group</a></li>
  <li class="bold <%= controller?('viewindiv') %>"><a class="waves-effect waves-pink"  href="<%= searchindiv_path %>">Student</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-pink <%= controller_data?() %>">Manage data</a>
        <div class="collapsible-body">
          <ul>
          </ul>
        </div>
      </li>
    </ul>
  </li>
!-->
</ul>
