<!DOCTYPE html>

<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

    <header>
      <%= render 'layouts/header' %>
      <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <%= render 'layouts/sidebar' %>
    </header>

    <main>
      <br>
      <div class="container">
        <%= yield %>
      </div>
      <br>  <br>  <br>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
      <div class="container">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </footer>

    <script>
			$( document ).ready(function() {
				$(".button-collapse").sideNav({
					menuWidth: 300,
					closeOnClick: true
				});

				$(".collapsible").collapsible();
				$(".modal").modal();
				$(".datepicker").pickadate({
					selectMonths: true,
					selectYears: 25
				});

				$(".dropdown-button").dropdown();
			})
    </script>
		<%= render 'shared/error_messages' %>
  </body>
</html>
