
<h1>Search Students</h1>
<div class="row">
  <div class="col-md-3 ">
  <h4> Filter by </h4>
	<%= form_for(:viewindiv, url: searchindiv_path) do |f| %>
        <h6> Personal Info </h6>
        <div class="row">

          <div class="input-field col s4">
            <input type="number" class="validate" name="searchinput[id]">
            <label for="icon_account_circle">Student ID</label>
          </div>

          <div class="input-field col s4">
            <input type="text" class="validate" name="searchinput[first_name]">
            <label for="icon_account_circle">First Name</label>
          </div>

          <div class="input-field col s4">
            <input type="text" class="validate" name="searchinput[last_name]">
            <label for="icon_account_circle">Last Name</label>
          </div>

          <div class="input-field col s4">
            <input type="number" class="validate" name="searchinput[advisor_id]">
            <label for="icon_account_circle">Advised By (ins.ID)</label>
          </div>

          <div class="input-field col s4">
            <input type="text" class="validate" name="searchinput[status]">
            <label for="icon_account_circle">Status(Study Abroad/Jailed)</label>
          </div>

        </div>

        <h6> Academic Info </h6>
        <div class="row">
        <div class="input-field col s4">
            <input type="text" class="validate" name="searchinput[isFinishStudy]">
            <label for="icon_account_circle">Finish Curriculum ? (yes/no)</label>
          </div>
          <div class="input-field col s4">
              <input type="number" step="0.01" class="validate" name="searchinput[gpax_min]">
              <label for="icon_account_circle">gpax more than</label>
            </div>

            <div class="input-field col s4">
              <input type="number" step="0.01" class="validate" name="searchinput[gpax_max]">
              <label for="icon_account_circle">gpax less than</label>
            </div>
          </div>
        </div>

        <h6> Leave Info </h6>
        <div class="row">
            <div class="input-field col s4">
              <input type="number" class="validate" name="searchinput[sick_count_min]">
              <label for="icon_account_circle">Leave more than</label>
            </div>

            <div class="input-field col s4">
              <input type="number" class="validate" name="searchinput[sick_count_max]">
              <label for="icon_account_circle">Leave less than</label>
            </div>

            <div class="input-field col s4">
              <input type="number" class="validate" name="searchinput[leave_type]">
              <label for="icon_account_circle">Leave type</label>
            </div>

            <div class="input-field col s4">
              <input type="number" class="validate" name="searchinput[sick_term]">
              <label for="icon_account_circle">in Semester (2014/3)</label>
            </div>


        </div>

        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action" style="float:right;">
            Search
          </button>
        </div>
      <% end %>
  </div>

  <% if !@search_result.nil? and @search_result.size>0 %>
    <h4> Number of results: <%= @search_result.size %> </h4>
  	<table class="striped bordered">
      <thead>
         <tr><th>SID</th><th>Email</th></tr>
      </thead>
    	<tbody>
        <% @search_result.each do |row| %>
           <tr>
             <%= content_tag(:td, content_tag(:a, "view profile", href:student_path(row))) %>
 		         <%= content_tag(:td, row.id) %>
	           <%= content_tag(:td, row.first_name) %>
             <%= content_tag(:td, row.last_name) %>
             <%= content_tag(:td, row.email) %>
             <%= content_tag(:td, row.status) %>
             <%= content_tag(:td, row.gender) %>
           </tr>
         <% end %>
	    </tbody>
    </table>
  <% end %>
</div>
