
<h5>Search Students : Filter by</h5>
<hr><br>
<div class="row">
  <div class="col-md-3 ">
  <div class="container">
  	<%= form_for(:viewindiv, url: searchindiv_path) do |f| %>
          <h6> Personal Info </h6>
          <div class="row">

            <div class="input-field col s4">
              <input type="number" class="validate" name="searchinput[id]">
              <label for="icon_account_circle">Student ID</label>
            </div>

            <div class="input-field col s4 offset-s2">
              <select name="searchinput[status]" class="validate">
                <option value="" disabled selected>Status</option>
                <option value="Exchange Program">Studying Abroad</option>
                <option value="Studying">Studying</option>
                <option value="Graduated">Graduated</option>
                <option value="Dropped">Dropped</option>
              </select>
            </div>

            <div class="input-field col s4">
              <input type="text" class="validate" name="searchinput[first_name]">
              <label for="icon_account_circle">First Name</label>
            </div>

            <div class="input-field col s4 offset-s2">
              <input type="text" class="validate" name="searchinput[last_name]">
              <label for="icon_account_circle">Last Name</label>
            </div>

          </div>
          <br>
          <h6> Academic Info </h6>
          <div class="row">

            <div class="input-field col s4">
              <input type="number" class="validate" name="searchinput[advisor_id]">
              <label for="icon_account_circle">Advised By (ins.ID)</label>
            </div>

            <div class="input-field col s4 offset-s2">
              <select name="searchinput[year]" class="validate">
                <option value="" disabled selected>Year</option>
                <option value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option value="4">4th Year</option>
                <option value="5">5th Year</option>
                <option value="6">6th Year</option>
                <option value="7">7th Year</option>
              </select>
            </div>

            <div class="input-field col s4">
              <label for="icon_account_circle">min GPAX</label>
              <br>
              <input type="range" step="0.01" min="0.00" max="4.00" class="validate" name="searchinput[gpax_min]">
              
            </div>

            <div class="input-field col s4 offset-s2">
              <label for="icon_account_circle">max GPAX</label>
              <br>
              <input type="range" step="0.01" min="0.00" max="4.00" class="validate" name="searchinput[gpax_max]">
              
            </div>

          </div>

          <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action" style="float:right;">
              Search
            </button>
          </div>
        <% end %>
    </div>
  </div>

  <% if !@search_result.nil? and @search_result.size>0 %>
    <h5> Number of results: <%= @search_result.size %> </h5>
  	<table class="striped bordered">
      <thead>
         <tr>
           <th>Student code</th>
           <th>Name</th>
           <th>E-mail</th>
           <th>Gender</th>
           <th>Status</th>
           <th></th>
         </tr>
      </thead>
    	<tbody>
        <% @search_result.each do |row| %>
           <tr>
 		         <%= content_tag(:td, row.id) %>
	           <%= content_tag(:td, row.first_name + " " + row.last_name) %>
             <%= content_tag(:td, row.email) %>
             <%= content_tag(:td, row.gender) %>
             <%= content_tag(:td, row.status) %>
             <td>
               <a href='/students/<%= row.id %>'><i class='material-icons'>description</i></a>&nbsp;&nbsp;&nbsp;
               <a href='/students/<%= row.id %>/edit'><i class='material-icons'>build</i></a>&nbsp;&nbsp;&nbsp;
               <a data-confirm='You sure?' rel='nofollow' data-method='delete' href='/students/<%= row.id %>'><i class='material-icons'>delete</i></a>
            </td>
           </tr>
         <% end %>
	    </tbody>
    </table>
  <% end %>
</div>

<script>
  $(document).ready(function() {
      $('select').material_select();
  });
</script>